html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.music-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    border-radius: 6px;
}

#show-title {
    color:black;
    font-weight: bold;
}

.opt-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
    overflow-y: auto;
    border-radius: 6px;
}

.opt-music .btn {
    padding: 10px;
    height: 56px;
    margin-bottom: 16px;
    font-weight: bold;
}

.show-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
}

.mp3-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disc {
    z-index: 99;
    position: relative;
    top: 85px;
    right: 240px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: aquamarine;
    box-shadow: 10px 10px 0px #252525;
}

.disc img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.btn {
    background-color: #FFB86B;
    color: #252525;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 0px #252525;
}

audio {
    background-color: #FFB86B;
    height: 100px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 10px 10px 0px #252525;
}

audio::-webkit-media-controls-panel {
    background-color: #FFB86B;
}